body {
  background-color: #fff;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #fff;
  text-align: center;
  padding: 0;
}
ul.header li a {
  color: #111;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content li a {
  color: #111;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

.content {
  background-color: #FFF;
  padding: 20px;
  text-align: center;
}
.content h2 {
  padding: 0;
  margin: 0;
}

.sub-content {
  background-color: #FFF;
  padding: 20px;
}
.sub-content h2 {
  padding: 0;
  margin: 0;
}


img {
  height: 100%;
  width: 100%;
}

.active {
  background-color: #fff;
}

.content li {
  margin-bottom: 10px;
}